NEXT_PUBLIC_API_URL=/api/v1
API_INTERNAL_URL=http://localhost:8080
# NEXT_PUBLIC_API_URL dipakai browser/axios.
# API_INTERNAL_URL dipakai Next.js rewrite target di sisi server.
NEXT_PUBLIC_MOBILE_APP_DOWNLOAD_URL=
